body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  flex-wrap: wrap;
  background-color: gray;
}
.product {
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  width: 250px;
  margin: 15px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.product h3 {
  margin: 15px 0 10px;
}
.product p {
  font-size: 14px;
  color: #555;
}
.btn {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #2563eb;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}
.btn:hover {
  background-color: #1e40af;
}

footer{
  grid-column: 1 / -1;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30vh;
}
footer a {
  color: whitesmoke;
  text-decoration: none;
  margin: 0 8px;
}
footer a:hover {
  text-decoration: underline;
}

